/* @import url("/css/header.css");
@import url("/css/main.css"); */

h1 {
    text-align: center;
  }
  
  
  .current-time{
    font-size: 25px;
    text-align: center;
    
  }

.board {
    display: flex;
    margin-top: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  
  .board-row {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  
  .board-block {
    font-size: larger;
    font-weight: 800;
    border: 3px solid gray;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
  }
  
  .keyboard {
    display: flex;
    margin-top: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  .keyboard-row {
    display: flex;
    justify-self: center;
    align-items: center;
    gap: 10px;
  }
  .keyboard-block {
    font-size: larger;
    font-weight: 800;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    background-color: #d4d6da;
  }
  .keyboard-block__enter {
    display: flex;
    font-size: larger;
    font-weight: 800;
    border-radius: 5px;
    width: 100px;
    height: 60px;
    justify-content: center;
    align-items: center;
    background-color: #d4d6da;
  }
  .keyboard-block__backspace {
    display: flex;
    font-size: larger;
    font-weight: 800;
    border-radius: 5px;
    width: 100px;
    height: 60px;
    justify-content: center;
    align-items: center;
    background-color: #d4d6da;
  }
  
  .keyboard-block__backspace img {
    width: 35px;
  }
  